<!-- <div
  *ngIf="loading"
  id="loading-table"
  class="car p-4 col-12 km-table-valoriza-app"
>
  <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
</div> -->
<div class="col-12 km-table-valoriza-app">
  <div class="flex align-items-center mb-3">
    <app-button-create
      _id="regularizacion-stock-button-create"
      (_click)="open_modal_to_create()"
    >
    </app-button-create>
  </div>

  <!-- TODO: ADD VALUE CORRECT -->
  <p-table
    #dt
    [value]="regularizacionesStock"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <!-- <th></th>
        <th></th> -->
        <th pSortableColumn="centro">
          <div>
            <p-sortIcon class="order" field="centro" />
            Centro
            <p-columnFilter
              class="filter"
              type="text"
              field="centro"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="referenciaMaterial ">
          <div>
            <p-sortIcon class="order" field="referenciaMaterial " />
            Referencia material
            <p-columnFilter
              class="filter"
              type="text"
              field="referenciaMaterial "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="descripcion">
          <div>
            <p-sortIcon class="order" field="descripcion" />
            Descripción referencia material
            <p-columnFilter
              class="filter"
              type="text"
              field="descripcion"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="operacion">
          <div>
            <p-sortIcon class="order" field="operacion" />
            Operación
            <p-columnFilter
              class="filter"
              type="text"
              field="operacion"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="cantidad">
          <div>
            <p-sortIcon class="order" field="cantidad" />
            Cantidad
            <p-columnFilter
              class="filter"
              type="text"
              field="cantidad"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-regularizacionStock>
      <tr
        class="body-table"
        [id]="'regularizacion-stock-' + regularizacionStock?.id"
      >
        <!-- <td>
          <p-button
            icon="fas fa-pen"
            severity="success"
            [text]="true"
            (click)="edit(stock)"
            [id]="'stock-edit-' + stock?.id"
          />
        </td>
        <td>
          <p-button
            icon="fas fa-trash"
            severity="danger"
            [text]="true"
            (click)="confirm_delete(stock)"
            [id]="'stock-delete-' + stock?.id"
          />
        </td> -->
        <td class="regularizacion-stock-nombre text-center">
          {{ regularizacionStock.centro.grupoCentro.nombre }}
        </td>
        <td class="regularizacion-stock-codigoCategoria text-center">
          {{ regularizacionStock.referenciaMaterial.codigoCategoria }}
        </td>
        <td class="regularizacion-stock-descripcion text-center">
          {{ regularizacionStock.referenciaMaterial.descripcion }}
        </td>
        <td class="regularizacion-stock-operacion text-center">
          {{ regularizacionStock.codOperacion }}
        </td>
        <td class="regularizacion-stock-cantidad text-center">
          {{ regularizacionStock.cantidad }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="6">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold" id="total-length-stock">{{
              regularizacionesStock.length || 0
            }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  <p-toast></p-toast>
</div>
