<div
  *ngIf="loading"
  id="loading-table"
  class="car p-4 col-12 km-table-valoriza-app"
>
  <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
</div>
<div class="col-12 km-table-valoriza-app">
  <!-- Buscador -->
  <app-search-form-table
    title="Búsqueda de Maquinaria"
    [search_model]="search_model"
    [search_options]="search_options"
    [search_fields]="search_fields"
    (search)="search($event)"
  >
  </app-search-form-table>

  <p-table
    #dt
    [value]="repostaje"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
    *ngIf="!loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="empresa.nombre">
          <div>
            <p-sortIcon class="order" field="empresa.nombre" />
            Centro
            <p-columnFilter
              type="text"
              field="empresa.nombre"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="maquinaria.matricula">
          <div>
            <p-sortIcon class="order" field="maquinaria.matricula" />
            Matrícula
            <p-columnFilter
              type="text"
              field="maquinaria.matricula"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div>
            <p-sortIcon class="order" field="fecha" />
            Fecha
            <p-columnFilter
              type="text"
              field="fecha"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="cantidad">
          <div>
            <p-sortIcon class="order" field="cantidad" />
            Cantidad
            <p-columnFilter
              type="text"
              field="cantidad"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="codTipoCombustible">
          <div>
            <p-sortIcon class="order" field="codTipoCombustible" />
            Tipo Combustible
            <p-columnFilter
              type="text"
              field="codTipoCombustible"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="">
          <div>
            <p-sortIcon class="order" field="" />
            Unidades
            <p-columnFilter
              type="text"
              field=""
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="codTipoRepostaje">
          <div>
            <p-sortIcon class="order" field="codTipoRepostaje" />
            Tipo Repostaje
            <p-columnFilter
              type="text"
              field="codTipoRepostaje"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-repostaje>
      <tr class="body-table" [id]="'repostaje-maquinaria-' + repostaje?.id">
        <td>
          <p-button
            icon="fas fa-pen"
            severity="success"
            [text]="true"
            (click)="edit(repostaje)"
            [id]="'repostaje-maquinaria-edit-' + repostaje?.id"
          />
        </td>
        <td>
          <p-button
            icon="fas fa-trash"
            severity="danger"
            [text]="true"
            (click)="confirm_delete(repostaje)"
            [id]="'repostaje-maquinaria-delete-' + repostaje?.id"
          />
        </td>
        <td class="repostaje-maquinaria-nombre">
          {{ repostaje?.maquinaria?.empresa?.nombre }}
        </td>
        <td class="repostaje-maquinaria-matricula">
          {{ repostaje?.maquinaria?.matricula }}
        </td>
        <td class="repostaje-maquinaria-fecha">{{ repostaje?.fecha }}</td>
        <td class="repostaje-maquinaria-cantidad">{{ repostaje?.cantidad }}</td>
        <td class="repostaje-maquinaria-combustible">
          {{ repostaje?.codTipoCombustible }}
        </td>
        <!-- TODO: Add Unidades -->
        <td class="repostaje-maquinaria-unidad">{{ repostaje }}</td>
        <td class="repostaje-maquinaria-repostaje">
          {{ repostaje?.codTipoRepostaje }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="9">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold" id="total-length-repostaje-maquinaria">{{
              repostaje.length || 0
            }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  <p-toast></p-toast>
</div>
