<h3>
    <i class="fas fa-cloud-upload-alt"></i>
    Ingestions <b>REAL TIME</b>
</h3>
<ul>
    <li>
        <i class="fas fa-check" ></i>
       <div>
        <b>Movisat</b>
        <span>2 segundos</span>
        </div>
        <em>12KB</em>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-download"></i>
    </li>
    <li>
        <i class="fas fa-times" ></i>
        <div><b>Distromel</b>
        <span>2 segundos</span></div>
        <em>7KB</em>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-download"></i>
    </li>
    <li>
        <i class="fas fa-check" ></i>
        <div><b>Movolytics</b>
        <span>4 segundos</span></div>
        <em>23KB</em>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-download"></i>
    </li>
    <li>
        <i class="fas fa-check" ></i>
        <div><b>Movisat</b>
        <span>7 segundos</span></div>
        <em>16KB</em>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-download"></i>
    </li>
    <li>
        <i class="fas fa-check" ></i>
        <div><b>Movisat</b>
        <span>7 segundos</span></div>
        <em>16KB</em>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-download"></i>
    </li>

    <li>
        <i class="fas fa-check" ></i>
        <div><b>Movisat</b>
        <span>7 segundos</span></div>
        <em>16KB</em>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-download"></i>
    </li>
    <li>
        <i class="fas fa-check" ></i>
        <div><b>Movisat</b>
        <span>7 segundos</span></div>
        <em>16KB</em>
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-download"></i>
    </li>
    <li>
        <i class="fas fa-check" ></i>
        <div><b>Movisat</b>
        <span>7 segundos</span></div>
        <em>16KB</em>
    </li>
</ul>